<h1> 
  Movies
</h1>

<% @movies.each do |movie| %>
<div class='item'>
  <%= link_to movie.title, movie_path(movie.id) %><br>
   Upvotes: <%= movie.rank %><br>
   <%= button_to '+1', movie_ranked_path(movie.id) %>
  <br>
</div>
  <% end %>

  <%= link_to 'Create A New Movie To Rank!', new_movie_path, class: 'ui button' %>