<h1>
  Books
</h1>
<% @books.each do |book| %>
  <div class='item'>
  <%= link_to book.title, book_path(book.id) %><br>
   Upvotes: <%= book.rank %><br>
   <%= button_to '+1', book_ranked_path(book.id) %>
  </div>
  <% end %>

  <%= link_to 'Create a new book to rank!', new_book_path, class: 'ui button' %>