<h1>
  Albums
</h1>
<% @albums.each do |album| %>
  <div class='item'>
  <%= link_to album.title, album_path(album.id) %><br>
  Upvotes: <%= album.rank %><br>
  <%= button_to '+1', album_ranked_path(album.id) %>
</div>
<% end %>

  <%= link_to 'Create a new album to rank!', new_album_path, class: 'ui button' %>